{
  "presets": ["node6", "react"],
  "plugins": [
    "transform-async-to-generator",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "rewire",
        "transform-async-to-generator",
        "transform-class-properties"
      ]
    },
    "test": {
      "sourceMaps": "inline",
      "plugins": [
        "rewire",
        "transform-async-to-generator",
        "transform-class-properties"
      ]
    }
  }
}