{
  "presets": ["node6", "react"],
  "plugins": ["transform-async-to-generator"],
  "env": {
    "development": {
      "plugins": ["rewire", "transform-async-to-generator"]
    },
    "test": {
      "plugins": ["rewire", "transform-async-to-generator"]
    }
  }
}